
html
  head
   //- bower:css
   
   //-endbower
   //-bower:js
   
   //-endbower
   //-inject:css
   
   //-endinject
   //-injet:js
   
   //-endinject
     title MyApp 
    
    body(class='myClass')
       h1(id='myId') My App 
       p 
          h3 sub heading
       ul
          each val in list
            li=val
         